{% extends 'main/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search Student</h1>

    <form method="post" action="{% url 'search_student' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search_query" placeholder="Enter search query">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    {% if count == 0 %}
        <h2>No matching records</h2>
    {% else %}
        <h2>{{ count }} records matched</h2>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Grade</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.grade }}</td>
                    <td><a href="{% url 'student_details' student.id %}" class="btn btn-success">Details</a></td>
                    <td><a href="{% url 'update_student2' student.id %}" class="btn btn-warning">Update</a></td>
                    <td><a href="{% url 'delete_student2' student.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}



