{% extends 'main/base.html' %}

{% block title %}Update Students{% endblock %}

{% block content %}
 
    <div class="row">
      <div class="col-md">
        <h1 class="mt-5">Update Students</h1>

        {% if student %}
          <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        {% else %}
          <p class="mt-4">Student not found.</p>
        {% endif %}

        <a href="{% url 'list_student' %}" class="mt-4 btn btn-secondary">Back</a>
      </div>
    </div>
{% endblock %}