.navbar {
    background-color: rgb(13, 113, 175);

}

footer {
    background-color: rgb(9, 32, 65);
	color: white;
}


body {
	background-color: snow;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans", sans-serif;
}

p {
	font-size: 20px;
}


#total-students{
	background-color: teal;
}

#total-courses{
	background-color: peru;
}

#students-grade{
	background-color: rgb(237, 252, 252);
	color: rgb(26, 32, 37);
}

#instructions{
	background-color: rgb(255, 253, 240);
	color: rgb(26, 32, 37);
}

#mission{
	background-color: rgb(246, 255, 245);
	color: rgb(26, 32, 37);
}

#fn-menu{
	font-size: 20px;
}