{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<style>
    .custom-padding {
        padding-left: 20px; /* Adjust the value as needed */
    }
</style>

<div class="container">
    <div class="mt-6 px-6 py-12 rounded-xl bg-white border border-gray-300" style="padding-left: 20px;">
        <br>
        <h3 class="mb-12 text-2xl font-semibold">Octa School</h3>
        <br>
        <p class="custom-padding">Email: contact@octa.com</p>
        <p class="custom-padding">Address: 123 Octa way, Hong Kong</p>
        <p class="custom-padding">Phone: +852 1234 5678</p>
    </div>
</div>
{% endblock %}